__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/

*.zip
*.wav
*.pth
*.mp3
*.tar
melo/logs
melo/base_models
melo/wandb
melo/data/*/
!melo/data/example/
melo/data/example/wavs
